@for(sheetInput of sheetTimeInput; track sheetInput; let i = $index){
<div class="card">
    <div class="dateRangeSelection card-body">
        <i class="fa-solid fa-trash" (click)="removeDate(i)"></i>
        <input class="form-control" required [(ngModel)]="sheetInput.date" type="date" name="date" >
        <input class="form-control" required [(ngModel)]="sheetInput.startTime" type="time" name="startTime">
        <input class="form-control" required [(ngModel)]="sheetInput.endTime" type="time" name="endTime">
        <app-sheet-selector [preSelectedSheetId]="sheetInput.sheetId" (selectedSheetChange)="onSheetChange($event, i)"></app-sheet-selector>
        <p>Instructors </p>
        @for (instructorId of sheetInput.instructorIds; track instructorId) {
          <app-user-selector [(selectedUserId)]="sheetInput.instructorIds[$index]"></app-user-selector>
        }
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="addInstructor(sheetInput)"><i class="fa-solid fa-plus"></i></button>
    </div>
</div>
}
<button type="button" class="btn btn-success" (click)="addDate()"><i class="fa-solid fa-plus"></i></button>