<div class="card">
    <div class="card-header">
        Activity types
    </div>
    <div class="card-body">
        <button [disabled]="saving" class="btn btn-success" (click)="updateActivityTypes()">Save</button>
        @for(activityType of activityTypes; track activityType; let i = $index){
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-12"><i class="fa-solid fa-trash" (click)="deleteActivityType(i)"></i> Add when actual deletion is implemented</div> -->
                    <div class="col-2">
                        <p> Color</p>
                    </div>
                    <div class="col-4">
                        <p>Title</p>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Instructors for activity (per timeblok)</label>
                    </div>
                    <div class="col-2">
                        <input class="form-control form-control-color" type="color" name="color"
                            [(ngModel)]="activityType.color">
                    </div>
                    <div class="col-4">
                        <input class="form-control" required type="text" name="type" [(ngModel)]="activityType.type">
                    </div>

                    <div class="col-6">
                        <div class="input-group">

                            <!-- Amount -->
                            <input type="number" class="form-control" [(ngModel)]="activityType.amountOfInstructors"
                                min="0" placeholder="Amount">

                            <!-- Static text "per" -->
                            <span class="input-group-text">instructors per</span>

                            <!-- Per Selected Value -->
                            <input type="number" class="form-control" [(ngModel)]="activityType.perSelectedValue"
                                min="0" placeholder="Value">

                            <!-- Calculation Type -->
                            <select class="form-select" [(ngModel)]="activityType.instructorCalculationType">
                                <option [ngValue]="CalculationType.People">People</option>
                                <option [ngValue]="CalculationType.Sheet">Sheet</option>
                                <option [ngValue]="CalculationType.Activity">Activity</option>
                            </select>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        }
        <button type="button" class="btn btn-success" (click)="addActivityType()"><i
                class="fa-solid fa-plus"></i></button>
        @if(error != null){
        <div class="alert alert-danger" role="alert">
            An unexpected error occured: {{error}}
        </div>
        }

        @if(saveSuccess){
        <div class="alert alert-success" role="alert">
            Saved
        </div>
        }
    </div>
</div>