<div style="border: solid black 1px; border-bottom: 0px;overflow: hidden">
  @for(time of times; track time){
  <div (mousedown)="startClick(time)" (mouseenter)="hover(time)" (mouseup)="endClick(time)" [attr.data]="time"
    [style.height]="heightInPixels/4 + 'px'" [style.border-bottom]="time.getMinutes() === 45? '1px solid black':''">

    @let event = getEvent(time);
    @if(event != null){
    <div class="activity-card hoverable" [class.transparant]="event.activity === null" style="z-index: 1;"
      [style.background-color]="getColor(event)" [style.height]="getLength(event)/60*heightInPixels + 'px'"
      [attr.start]="event.timeStart" [attr.end]="event.timeEnd"
      (mousedown)="selectEvent(event); $event.stopPropagation()">
      <div class="innerevent">

        <small class="no-highlight" style="position: relative;">{{event.activity?.title}}</small>
        @let request = event.activity?.customerRequestId ? requestsForActivities.get(event.activity!.customerRequestId!)
        : undefined;
        @if(request && getLength(event) >= 120){
        <br><small class="no-highlight" style="position: relative;">{{request.title}}</small>
        <br><small class="no-highlight" style="position: relative;">Amount of people: {{request.amountOfPeople}}</small>
        <br><small class="no-highlight" style="position: relative;">State: {{getEnumString(request)}}</small>
        }
        <br>
        <small class="no-highlight" style="position: relative;">{{event.timeStart.toLocaleString("nl-NL",
          {hour:"2-digit", minute:"2-digit"})}} - {{event.timeEnd.toLocaleString("nl-NL", {hour:"2-digit",
          minute:"2-digit"})}}</small>
      </div>
    </div>
    }
  </div>
  }
</div>

@if(currentEvent !== null && currentEvent.activity !== null){
<app-activity-editor [activity]="currentEvent.activity" [selectedTimeRange]="selectedTimeRange"
  [activityTypes]="activityTypes" [isCreating]="isCreating" (activityChanged)="onActivityUpdated($event)"
  (onClose)="onClose()"></app-activity-editor>
}