<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="planning">CurlPlanner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/planning">Planning</a>
        <li class="nav-item"><a class="nav-link" routerLink="/contacts">Contacts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/settings">Settings</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="loginOptions" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">{{this.userName ?? ''}}</a>
          <ul class="dropdown-menu" aria-labelledby="loginOptions">
            <li><a class="dropdown-item" (click)="this.logout()">Logout</a></li>
          </ul>
        </li>
        <lib-club-select></lib-club-select>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>