<div class="card">
    <div class="card-header">
        Activity types
    </div>
    <div class="card-body">
        <button class="btn btn-success" (click)="updateSheets()">Save</button>
        @for(sheet of sheets; track sheet; let i = $index){
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p>Sheet title</p>
                    </div>
                    <div class="col-4">
                        <input class="form-control" required type="text" name="type" [(ngModel)]="sheet.name">
                    </div>
                </div>
            </div>
        </div>
        }
        <button type="button" class="btn btn-success" (click)="addSheet()"><i class="fa-solid fa-plus"></i></button>
        @if(error != null){
        <div class="alert alert-danger" role="alert">
            An unexpected error occured: {{error}}
        </div>
        }

        @if(saveSuccess){
        <div class="alert alert-success" role="alert">
            Saved
        </div>
        }
    </div>
</div>