<div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        @if(isCreating){<h5 class="modal-title">New activity</h5>}
        @else{<h5 class="modal-title">Edit activity</h5>}
      </div>
      <div class="modal-body">
        <form [formGroup]="activityForm">
          <app-request-selector [(selectedRequest)]="selectedRequest"></app-request-selector>
          <div class="mb-3">
            <label for="activityType" class="form-label">Activity Type</label>
            <select class="form-select" id="activityType" formControlName="activityTypeId">
              <option selected>SelectType</option>
              @for (activityType of activityTypes; track activityType) {
              <option value="{{activityType.id}}" [selected]="activityType.id == activity.activityTypeId">
                {{activityType.type}}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
          <div class="mb-3">
            <app-multi-date-select [(sheetTimeInput)]="plannedDates"></app-multi-date-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>