.container {
  width: 100%;
}


.left-space {
  display: inline-block;
  width: 5%;
}

.date-input {
  padding-left: 5vw;
}

.scroll-container {
  position: relative;
  overflow-y: scroll;
  max-height: 80vh;
  width: fit-content;
}

.time-overview {
  display: inline-block;
  width: 5vw;

}

.sheets-container {
  display: inline-block;
  max-width: 92vw;
  white-space: nowrap;
}

.sheet-item {
  display: inline-block;
  width: 16vw;
  margin-right: 10px;
  height: 3vh;
}

.sheet-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: inline-block;
  width: 16vw;
  margin-right: 10px;
  align-items: center;
}
.sheet-header-text{
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}