<div class="container">
  <input type="date" class="form-control date-input" [(ngModel)]="dateString" id="plannerDate">
</div>

<div class="scroll-container">
  <div class="time-overview">
    <app-time-overview></app-time-overview>
  </div>
  
  <div #sheetsContainer class="sheets-container">
    @for(sheet of sheets; track sheet.id){
      <div class="sheet-item">
        <div>{{sheet.name}}</div>
        <app-sheet-overview [sheet]="sheet" [activityTypes]="activityTypes" [dayString]="dateString"></app-sheet-overview>
      </div>
    }
  </div>
</div>
