<div style="width: 100%;">
  <div style="display: inline-block; width: 5%;">
  </div>
  <input type="date" class="form-control" style="display: inline-block; width: 8%;" [(ngModel)]="dateString"
    id="plannerDate">

</div>
<div style="overflow-x:scroll;max-width: 100vw;white-space: nowrap;">
  <div style="display: inline-block; width: 5vw;">
  </div>
  @for(sheet of sheets; track sheet.id){
  <div style="display: inline-block; width: 20vw;margin-right: 10px;">
    <div>{{sheet.name}}</div>
  </div>
  }
  <div style="overflow-y: scroll; max-height: 80vh; width:fit-content">
    <div style="display: inline-block; width: 5vw;">
      <app-time-overview></app-time-overview>
    </div>

    @for(sheet of sheets; track sheet.id){
    <div style="display: inline-block; width: 20vw;margin-right: 10px;">
      <app-sheet-overview [sheet]="sheet" [activityTypes]="activityTypes" [dayString]="dateString"></app-sheet-overview>
    </div>
    }
  </div>
</div>