<div class="container py-5">
    <h2>Request Overview</h2>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <button class="btn btn-primary" (click)="showRequestModal = true">New request</button>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="text-muted">
            Showing {{ getStartIndex() + 1 }} - {{ getEndIndex() }} of {{ totalAmount }} requests
        </div>
    </div>

    <div class="row g-3" id="contactList">
        @for (request of requests; track $index) {
        <div class="col-md-4 contact-item">
            <div class="card p-3">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <span
                            class="badge label-badge badge-{{getEnumString(request).toLowerCase()}}">{{getEnumString(request)}}</span>

                        @if(request.title !== ''){
                        <h4 class="mb-1">{{request.title}}</h4>
                        }
                        @let contact = getContact(request.contactId);
                        @if(contact){
                        <h5 class="mb-1">{{contact.firstName}} {{contact.prefix}} {{contact.lastName}}</h5>
                        <p class="mb-1 text-muted">{{contact.email}}</p>
                        }
                    </div>
                    <div class="d-flex gap-2">
                        <button class="icon-btn" title="Edit Request" (click)="editRequest(request)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="icon-btn toggle-details" title="Show Details" (click)="expend(request.id)">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                </div>
                @if(expended === request.id){
                <div class="mt-3 contact-details">
                    <p class="mb-1"><strong>Additional:</strong> {{request.additionalInfo}}</p>
                    <p>Planned times</p>
                    @if(currentActivity === null){
                    <p>Currently no activity is linked</p>
                    }
                    @else if(currentActivity === undefined) {
                    <p>Loading...</p>
                    }
                    @else {
                    @for (item of getPlannedTimes(currentActivity); track $index) {
                    <p class="mb-1">{{item.toLocaleString("nl-NL", {hour:"2-digit", minute:"2-digit"})}}</p>
                    }
                    }
                </div>
                }
            </div>
        </div>
        }
    </div>

    <lib-pagination-controls [currentPage]="currentPage" [pageSize]="pageSize" [totalAmount]="totalAmount"
        (currentPageChange)="currentPageChange($event)"></lib-pagination-controls>

</div>

@if(showRequestModal){
<div class="modal modal-xl" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if(requestToEdit === null){<h5 class="modal-title">New contact</h5>}
                @else{<h5 class="modal-title">Edit contact</h5>}
            </div>
            <div class="modal-body">
                <app-request-editor [selectedRequest]="requestToEdit" (successfulAction)="requestEdited($event)"
                    (exit)="resetForm()"></app-request-editor>
            </div>
        </div>
    </div>
</div>
}